@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Limelight&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Fonts
$font-title: "Limelight", cursive;
$font-body: "Josefin Sans", sans-serif;

// Colors
$main: #051937;
$second: #548ef8;
$red: #721f32;

// Transitions
$t1: all 0.3s ease-in-out;

.intro {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  z-index: 100;
  background: linear-gradient(
    to right top,
    #051937,
    #0f172d,
    #131523,
    #13131a,
    #111111
  );
}
$light: #6b6b6b;
$cameracolor: #000000;
.camera {
  &__wrap {
    transform: scale(0.4);
    min-width: 350px;
    width: 350px;
    height: 200px;
    position: relative;
    //background-color: goldenrod;
  }
  &__body {
    background-color: $cameracolor;
    height: 100%;
    width: 70%;
    position: absolute;
    left: 0;
    border-radius: 0.9rem;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-k7 {
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      //background-color: whitesmoke;
      .tape {
        border-radius: 50%;
        background-color: $second;
        width: 100px;
        height: 100px;
        position: relative;
        animation: k7roll 2.5s linear infinite;
        .center {
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          background-color: black;
          border-radius: 50%;
          width: 8px;
          height: 8px;
        }
        .roll {
          background-color: white;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          position: absolute;
        }
        .roll:nth-child(1) {
          left: 7%;
          top: 50%;
          transform: translatey(-50%);
        }
        .roll:nth-child(2) {
          left: 50%;
          bottom: 7%;
          transform: translatex(-50%);
        }
        .roll:nth-child(3) {
          left: 50%;
          top: 7%;
          transform: translatex(-50%);
        }
        .roll:nth-child(4) {
          right: 7%;
          top: 50%;
          transform: translatey(-50%);
        }
      }
    }
    &__stuff {
      width: 100%;
      height: 25%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-bat {
        height: 100%;
        width: 40%;
        background-color: $main;
      }
      &-pointer {
        border-radius: 50%;
        background-color: $red;
        width: 20px;
        height: 20px;
        //margin: 0 10px;
        margin-right: 15px;
        &.first {
          margin-left: auto;
        }
      }
    }
    &-optic {
      background-color: $cameracolor;
      width: 30%;
      height: 90%;
      top: 5%;
      border-radius: 0 15% 15% 0;
      position: absolute;
      left: 70%;
      clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
    }
    &-light {
      z-index: -1;
      position: absolute;
      height: 60%;
      width: 30%;
      top: 20%;
      right: 0;
      position: absolute;
      //border-radius:50%;
      //background-color: red;
      box-shadow: 95px 0 15px 10px rgba($light, 0.2);
      animation: light linear 0.3s infinite;
      //clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
    }
  }
}

@keyframes k7roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes light {
  0% {
    box-shadow: 100px 0 60px 2px rgba($light, 0.2);
  }
  50% {
    box-shadow: 115px 0 35px 4px rgba($light, 0.3);
  }
  100% {
    box-shadow: 110px 0 45px 2px rgba($light, 0.1);
  }
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to right top,
    #051937,
    #0f172d,
    #131523,
    #13131a,
    #111111
  );
  font-family: $font-body;
}

.c-scrollbar {
  z-index: 51;
  .c-scrollbar_thumb {
    background: $second;
  }
}

.nav {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);

  &.active {
    background: rgba($main, 0.96) !important;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &-wrap {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;

    .logo {
      color: #f4f4f4;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-size: 30px;
      font-family: $font-title;
      margin: 0 !important;
      cursor: unset;

      span {
        color: $second;
        animation: rotate 4s infinite !important;
        transform-origin: center;
        display: flex;
        width: 22px;
        height: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 0;
      }
    }
  }
}

// Up icon
.up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 50 !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23ffffff' fill-opacity='0.04'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  span {
    font-size: 40px;
    color: #f4f4f4;
  }
}

//simple loader
.loading {
  display: inline-block;
  height: 10px !important;
  width: 10px !important;
  padding: 15px !important;
  border: 6px solid #f4f4f4 !important;
  border-right-color: $second !important;
  border-radius: 50%;
  animation: rotate 10s infinite linear;
  margin: 150px auto;
}

@keyframes rotate {
  0%,
  100% {
    transform: rotate(360deg) !important;
  }
}

.section {
  min-height: 100vh;
}

.main-container {
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;

  .select {
    min-height: 300px;
    padding: 100px 20px 20px;
    background: linear-gradient(
        to right top,
        rgba(#051937, 1),
        rgba(#0f172d, 0.9),
        rgba(#131523, 0.9),
        rgba(#13131a, 0.9),
        rgba(#111111, 1)
      ),
      url("../assets/back.jpg");
    background-position: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    #search-wrap {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 900px;

      label {
        position: absolute;
        top: -26px;
        left: 10px;
        color: #f4f4f4;
        font-size: 16px;
        font-weight: bold;
      }

      #search {
        width: 100%;
        outline: none;
        background: rgba(#000, 0.6);
        border: none;
        padding: 5px 10px;
        color: #f4f4f4;
        font-size: 18px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: $t1;
        -webkit-user-select: text; /* Chrome, Opera, Safari */
        -moz-user-select: text; /* Firefox 2+ */
        -ms-user-select: text; /* IE 10+ */
        user-select: text; /* Standard syntax */

        &:focus {
          box-shadow: 0 3px 6px rgba($second, 0.16),
            0 3px 6px rgba($second, 0.23);
        }
      }

      #clear {
        display: flex;
        align-items: center;
        background: $main;
        border: none;
        outline: none;
        height: 37px;
        padding: 0 20px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23ffffff' fill-opacity='0.04'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: $t1;

        &:hover {
          background: $second;
        }

        span {
          font-weight: bold;
          font-size: 25px;
          color: #f4f4f4;
        }
      }
    }

    .options {
      width: 100%;
      max-width: 900px;
      display: flex;
      align-items: center;
      justify-content: center;

      .option {
        border: none;
        outline: none;
        width: 120px;
        font-size: 20px;
        padding: 5px;
        margin: 5px;
        background: $main;
        color: #f4f4f4;
        font-weight: bold;
        transition: $t1;
        border-radius: 10px;
        font-family: $font-title;
        text-transform: uppercase;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23ffffff' fill-opacity='0.04'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;

        &.active {
          background: darken($red, 10%) !important;
        }

        &:hover {
          background: lighten($main, 20%);
        }
      }
    }
  }
}

@keyframes rotate {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg) scale(0.9);
  }
}

.container {
  padding: 40px 20px;
  max-width: 1000px !important;
}

.card {
  background-color: darken(#061f45, 2%) !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23ffffff' fill-opacity='0.04'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: #f4f4f4 !important;
  font-family: $font-title;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;

  &.details {
    background-image: none !important;

    .card-title {
      font-size: 20px;
      text-align: left;
      width: 100%;
    }
  }
  sub {
    color: #acacac !important;
  }

  &-body {
    flex-direction: column;

    p {
      width: 100%;
      margin-top: 15px;
      font-size: 16px;
      font-family: $font-body;
      color: darken(#f4f4f4, 10%);
      text-align: left;
    }
  }

  &-title {
    margin: 0 !important;

    a {
      text-decoration: none;
      color: #f4f4f4 !important;
    }
  }

  &.last {
    margin-bottom: 40px;
    background: none !important;
    box-shadow: none !important;
    padding: 20px;

    h1 {
      margin-bottom: 20px;
      text-align: center;
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 5px 40px;
    margin: 5px;
    background: $main;
    color: #f4f4f4;
    font-weight: bold;
    transition: $t1;
    border-radius: 10px;
    font-family: $font-title;
    text-transform: uppercase;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    span {
      margin-left: 10px;
    }

    &:hover {
      background: lighten($main, 20%);
      padding-right: 20px;
    }
  }

  .img-wrap {
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      transition: $t1;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

#output {
  position: relative;
  min-height: 100px;
}

.main-title {
  font-family: $font-title;
  color: #f4f4f4;
  padding: 40px 20px 0px;
  text-align: center;
}

.searchText {
  word-wrap: break-word;
}

.noResults {
  color: #f4f4f4;
}

.pagination-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// Details
.details-header {
  position: relative;
  padding: 20px;
  min-height: 400px;
  padding: 100px 20px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .rating-box {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    background-color: lighten(#061f45, 2%) !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23ffffff' fill-opacity='0.04'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    .rating {
      margin: 0;
      font-size: 24px;
      color: #f4f4f4;
      padding: 10px;
    }
  }

  .img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right bottom,
        rgba(#051937, 1),
        rgba(#171228, 0.7),
        rgba(#190a1a, 0.3),
        rgba(#12040d, 0.7),
        rgba(#000000, 0.1)
      );
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &-title {
    color: #f4f4f4;
    font-family: $font-title;
    text-align: center;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(#000, 0.8);
  }
}

.genre {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  span {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    color: #f4f4f4;
    padding: 10px;
    border-radius: 20px;
    background-color: lighten($red, 10%) !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23ffffff' fill-opacity='0.04'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    margin: 10px;
    font-size: 13px !important;
    font-weight: bold;
  }
}

#detail-cards {
  width: 100%;

  .card.details {
    margin: 20px;
  }
}

.container.details {
  padding-top: 0 !important;
  padding-bottom: 70px !important;
}

.closeWindow {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px;
  background: #721f32;
  border-radius: 20px;
  border: none;
  outline: none;
  color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}
